################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/simple-repository-netcore/v17
/.vs/simple-repository-netcore/FileContentIndex
/simple-repository-netcore/obj
/.vs/NetCore.SimpleRepository/v17
